[submodule "glfw"]
	path = render_lib/glfw
	url = git@github.com:glfw/glfw.git
[submodule "glm"]
	path = render_lib/glm
	url = git@github.com:g-truc/glm.git
[submodule "cgltf"]
    path = dependencies/cgltf
    utl = git@github.com:jkuhlmann/cgltf.git